/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-weight: 300px;
}
/* Estilo do corpo da página */
body {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(223, 212, 198);
  width: 100%;
}
header {
  background-color: #fff;
  position: sticky;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-top: 0.3cm;
  padding: 0.5rem;
  width: 68px;
  height: 50px;
  margin: 0.3cm;
}
h1 {
  color: rgb(220, 64, 7);
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
  color: rgb(203, 87, 45);
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}
a:houver {
  opacity: 0.7;
}
a:hover {
  color: #2c0c33;
}
nav {
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
  width: 100%;
}
main {
  background: url("br.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  justify-content: space-around;
  letter-spacing: 3px;
  margin-left: 50px;
  padding: 0.3rem;
}
.contatos img {
  margin-top: 0.3cm;
  margin-left: 0;
  margin-right: 0;
  width: 70px;
  height: 50px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(203, 87, 45);
  margin: 8px;
  transition: 0.2s;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .container {
    max-width: 90%;
    margin: 0;
    padding: px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-shadow: 20px 20px 50px -30px #2c0c33;
    flex-direction: column;
    border-top-left-radius: 8px;
  }
  .container img {
    width: 100%;
    max-width: 100%;
  }
  .container div {
    max-width: 100%;
    padding-left: 16px;
    flex-direction: column;
  }
  .container div.estrela {
    flex-direction: column;
  }
  .container div.star {
    flex-direction: column;
  }
  .container div.estrela dialog {
    margin:  70px 70px 70px 70px;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
section.container {
  background-color: white;
  display: flex;
  text-align: justify;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 20px 20px 50px -30px #2c0c33;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: clamp(12px, 4vw, 32px);
}
section.container div.estrela {
  flex-direction: column;
  padding: 8px;
}
div.star {
  text-align: right;
  margin: 0;
}
.estrela input[type="radio"] {
  display: none;
}
.estrela label i.fa:before {
  content: "\f005";
  color: #fc0;
}
.estrela input[type="radio"]:checked ~ label i.fa:before {
  color: #ccc;
}
section.container div.icon {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 8px;
}
section.container div.icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
section.container div.icon img:hover {
  transform: scale(1.1);
}
section.container div.estrela h1 {
  color: rgb(220, 64, 7);
  text-align: justify;
  text-align: center;
  padding: 0;
}

section.container div.estrela p {
  color: black;
  margin-top: 5px;
  text-align: justify;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 450;
  padding: 0 1rem;
  font-size: clamp(12px, 4vw, 32px);
}
/* div completa */
section.container div.estrela div.seletor {
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* valor */
section.container div.estrela div.seletor p.valor {
  text-align: center;
}
/* seletor */
section.container div.estrela div.seletor button {
  text-transform: uppercase;
  background-color: rgb(220, 64, 7);
  color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  width: auto;
  border-radius: 8px;
}
section.container div.estrela div.seletor button:hover {
  background-color: #2c0c33;
  transform: scale(1.1);
}
/* botão quantidade */
section.container div.estrela div.seletor input {
  width: 35px;
  height: 25px;
  padding-top: 2px;
  text-align: center;
  border: 1px solid #0e0c0c;
  font-size: small;
  border-radius: 8px;
}
sup {
  color: rgb(220, 64, 7);
  font-weight: bold;
  font-size: 65%;
}
/* botão de comprar */
section.container div.estrela div.seletor button.comprar {
  cursor: pointer;
  justify-content: center;
  text-align: center;
  padding-top: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
  transition: transform 0.3s ease;
  background-color: rgb(220, 64, 7);
  border: 0;
  border-radius: 8px;
}
section.container div.estrela div.seletor button.comprar:hover {
  background-color: #2c0c33;
  color: rgb(203, 87, 45);
}
section.container div.estrela dialog::backdrop {
  background-color: rgb(119, 119, 119, 0.4);
}

section.container div.estrela dialog {
  align-items: center;
  margin:  70px 70px 70px 70px;
}
section.container div.estrela dialog img {
  width: 40%;
}
section.container div.estrela dialog#Popup {
  background-color: white;
  justify-content: center;
  border-radius: 32px;
  width: 40%;
  border: none;
  padding: 0.5rem;
}
section.container div.estrela dialog#Popup h2 {
  margin: auto;
  color: orangered;
  font-size: xx-large;
}
section.container div.estrela dialog#Popup p {
  margin: auto;
  color: black;
  font-size: 70%;
  text-align: center;
}
section.container div.estrela dialog#Popup button {
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  background-color: rgb(220, 64, 7);
  justify-content: center;
  color: #fff;
  transition: background-color 0.3s;
  transition: transform 0.3s ease;
  font-size: 18px;
  padding: 6px;
  width: 20%;
  margin-top: 20px;
}
section.container div.estrela dialog#Popup button:hover {
  background-color: #2c0c33;
}

/* conteudo site  */
section.conteudo {
  display: block;
  justify-content: center;
  width: 89%;
  margin: auto;
}
section.conteudo p.texto {
  text-align: justify;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  padding: 0.3rem;
  color: black;
  background-color: white;
  box-shadow: 20px 20px 50px -30px #2c0c33;
  transition: transform 0.3s ease;
}
section.conteudo p.texto:hover {
  transform: scale(1.1);
}
section.conteudo ul {
  text-align: justify;
  width: 100%;
  margin: auto;
  border-radius: 15px;
  padding: 0.3rem;
  color: black;
  background-color: white;
  box-shadow: 20px 20px 50px -30px #2c0c33;
  transition: transform 0.3s ease;
}
section.conteudo ul:hover {
  transform: scale(1.1);
}
h2 {
  color: rgb(220, 64, 7);
  margin: auto;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
ul {
  margin-left: 80px;
  list-style: none;
  text-align: justify;
  width: 90%;
}
li {
  margin-left: -0px;
  text-align: justify;
  width: 90%;
}

footer {
  width: 100%;
  height: auto;
  min-height: fit-content;
  background-color:#fff;
  display: flex;
  justify-content: center;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  }
 
  footer h2 {
  text-align: center;
<<<<<<< HEAD
  border-top: 0;
  position: absolute;
  margin: 15px;
  border-top-left-radius: 35px;
}
footer p.copy {
  background-color: rgb(203, 87, 45);
  color: #fff;
  font-weight: bold;
}
footer ul.nomes {
  float: left;
  justify-content: left;
  text-align: left;
}
footer li.nome {
=======
  color: rgb(203, 87, 45);
  padding: 1rem;
  }
 
  .row {
  display: flex;
  flex: wrap;
  gap: 10px;
  text-align: center; 
  height: 350px;
  }
 
  .container-footer {
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  }

  footer ul.nomes {
  color:black;
  list-style: none;
  display: block;
  justify-content: center;
  align-items: center;
 }
 footer li.nome{
  width: 200px;
>>>>>>> fcaa06196dbc32a27a3dd14de2f1f14a4474a42d
  color: black;
  font-weight: bold;
  text-align: justify;
  font-size: 65%;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
 }
 footer li.nome:hover{
  color: rgb(203, 87, 45);
 }
 footer div.linha-vertical {
  border-left: 3px solid rgb(203, 87, 45);
  height: 330px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 footer p{
  margin-inline: 10px; 
  text-align: justify;
  display: block;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 65%;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
 }
 footer p:hover{
  color: rgb(203, 87, 45);
 }
 
  @media screen and (max-width: 695px) {
 
  .row {
  display: flex;
  flex: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
   padding: 0;
  }
  footer h2{
  text-align: center;
  margin: auto;
  padding: 0;
  }
  ul.nomes{
  display: none;
  margin-left: -20px;
  padding: 0;
  }
  div.linha-vertical{
  display: none;
  }
}
<<<<<<< HEAD
footer p.rodape {
  color: black;
  font-size: 65%;
  text-align: justify;
  padding: 1rem;
}
=======
>>>>>>> fcaa06196dbc32a27a3dd14de2f1f14a4474a42d
