/* -- Reset de estilo -- */
* {
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-weight: 300px;
}

/* -- Estilo de corpo da página -- */
body {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  height: 100vh;
  height: 100%;
}

/* -- Cabeçalho da página -- */
header {
  background-color: #fff;
  position: sticky;
}

/* -- Logo da imagem na barra de menu "natura" -- */
.logo {
  display:flex;
  align-items:center;
}

.logo img {
  margin-top: 0.3cm;
  padding: 0.5rem;
  width: 68px;
  height: 50px;
  margin: 0.3cm;
}
.logo a {
  margin-top: 0.3cm;
}

/* -- Cor e posicionamento do texto "Natura Lumina" -- */
article.conteudo h3 {
  color: rgb(220, 64, 7);
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}


/* -- Conteúdo do parágrafo -- */
article.conteudo p {
  text-align: justify;
  margin: 10px;
  padding: 0.3rem;
  color: black;
  background-color: white;
  box-shadow: 20px 20px 50px -30px #2c0c33;
  border-radius: 15px;
}

/* -- Cor do texto "barra de menu" -- */
a, h1 {
  color: rgb(203, 87, 45);
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}
a:hover {
  opacity: 0.7;
}
a:hover {
  color: #2c0c33;
}

/* -- Barra de navegação "menu" -- */
nav {
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
  width: 100%;
}

main {
  background: url("br.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

/* -- Estilo de "lista de navegação" -- */
.nav-list {
  list-style: none;
  display: flex;
}

/* -- Largura da "lista de navegação -- */
.nav-list li {
  justify-content: space-around;
  letter-spacing: 3px;
  margin-left: 50px;
  padding: 0.3rem;
}

.contatos img {
  margin-top: 0.3cm;
  margin-left: 0;
  margin-right: 0;
  width: 70px;
  height: 50px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(203, 87, 45);
  margin: 8px;
  transition: 0.3s;
}

/* -- Media Query -- */
@media (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

/* -- Fixação barra do menu "mobile" -- */
  .mobile-menu {
    display: block;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* -- Posição da foto na página -- */
#foto {
  width: 100%;
  object-fit:cover;
  height: 400px;
}

.conteudo {
  border-bottom: 0;
  font-size: x-large;
}

/* -- Largura da imagem da página --*/
.conteudo img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}
.pagina-- {
  background-color: white;
  border-radius: 8px;
  margin: 8px 15px 8px 15px;
}
.pagina-- h1 {
  color: rgb(220, 64, 7);
  font-size: xx-large;
  text-align: left;
  width: 98%;
  margin-left: 15px;
}
.pagina-- p {
  text-align: justify;
  width: 100%;
  margin: 15px 15px 15px 15px;
  padding: 0.3rem;
  color: #2c0c33;
  column-gap: 30px;
}

#produtos {
  background-color: aliceblue;
  border-radius: 15px;
  text-align: center;
  font-size: 100;
  color: rgb(220, 64, 7);
  margin: 10px;
  font-weight: bold;
}
/* -- Altura dos cards -- */
main.cards {
  display:flex;
  justify-content: center;
  margin: 15px 15px;
}
main.cards {
  cursor: pointer;
}

/* -- Direção dos Cards -- */
main.cards section.card {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center; 
  background-color: white;
  justify-content: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  border-radius: 8px;
  max-height: 458px;
  margin-left: 55px;
  grid-template-columns: repeat(8, 1fr);
  margin: 50px 25px 50px 25px;
  transition: transform 0.3s ease;
}
main.cards section.card:hover {
  transform: scale(1.1);
}
main.cards section.card:first-child {
  margin-left: 0px;
  }
main.container section.estrela {
  margin: 15px 15px 15px 15px;
  flex-direction: column;
}
main.cards section.card .icon {
  width: 240px;
  height: 300px;
  border-radius: 8px;
}
main.cards section.card img {
  width: 100%;
}
main.cards section.card h3 {
  font-size: 100%;
  margin: 10px ;
}
main.cards section.card p {
  padding-bottom: 0.3rem;
}
main.cards section.card button {
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(220, 64, 7);
}
main.cards section.card button:hover {
  background-color: #2c0c33;
}
main.cards section.card a {
  color: #fff;
  border: 0;
  font-size: 87%;
}
main.cards section.card {
  box-shadow: 20px 20px 50px -30px #2c0c33;
}
main.cards section.card.shop {
  box-shadow: 20px 20px 50px -30px rgb(203, 87, 45);
}
main.cards section.card.about {
  box-shadow: 20px 20px 50px -30px rgb(220, 64, 7);
}
@media (min-width:300px) and (max-width:768px){
.conteudo{
      margin-bottom: 20px;
}
  .pagina-- {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 0px;
      padding: 1rem;
  }
  .pagina-- h1{
    text-align: center;
    font-size: x-large;
  }
  .pagina-- p{
    width: 89%;
    font-size: 65%;
  }
  main.cards {
    margin-top: 50px;
    margin: auto;
    flex-direction: column;
    width: 50%;
    height: 50%;
  }
  main.cards section.card {
    margin: auto;
   
  }
 main.cards section.card .icon {
  margin-bottom: 0;
 }

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.container img {
  float: left;
  width: 100%;
  height: 100%;
}
.container section.conteudo {
  float: right;
  overflow: hidden;
  font-size: 65%;
  text-align: justify;
  width: 100%;
  font-weight: 450;
  background-color:rgb(243,243,243);
}
.container section.conteudo h1 {
  color: rgb(220, 64, 7);
  font-size: x-large;
  text-align: center;
  margin-top: 20px;
}
.container section.conteudo p {
  text-align: justify;
  padding: 1rem;
  font-size: 100%;
}
}

/* -- Estilo do rodapé -- */
footer {
  background-color: white;
  color: rgb(220, 64, 7);
  text-align: center;
  font-weight: bold;
  border-top: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
