/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-weight: 300px;
}

/* Estilo do corpo da página */
body {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 235, 215);
}
header {
  background-color: #fff;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img {
  margin-top: 0.3cm;
  padding:0.5rem;
  width: 68px;
  height: 50px;
  margin: 0.3cm;
}
.logo a{
  margin-top: 0.3cm;
}
h1{
  color: rgb(203, 87, 45);
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
h3{
  color: rgb(203, 87, 45);
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
a {
  color: rgb(203, 87, 45);
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}
a:houver {
  opacity: 0.7;
}
a:hover{
  color:#2c0c33; 
}
nav {
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}
main {
  background: url("br.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {

  justify-content: space-around;
  letter-spacing: 3px;
  margin-left: 50px;
  padding: 0.3rem;
}
.contatos img{
  margin-top: 0.3cm;
  margin-left: 0;
  margin-right: 0;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background:rgb(203, 87, 45); 
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


/*vini*/
#foto{
  width: 100%;
  height:500px;
  object-fit: cover;
}
.container {
  flex-direction: column;
  max-width:90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-shadow: 20px 20px 50px -30px #2c0c33;
  display: flex;
}
.container:hover {
  transform: scale(1.1);
}
.itens{
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: space-evenly;
  padding: auto;
}
.itens img {
  max-width: 39%; 
  max-height: 100%;
  border-radius: 40px;
  padding: 1%;
} 
/* Estilo do rodapé */
footer {
  width: 100%;
  height: auto;
  min-height: fit-content;
  background-color:#fff;
  display: flex;
  justify-content: center;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  }
 
  footer h2 {
  text-align: center;
  color: rgb(203, 87, 45);
  padding: 1rem;
  }
 
  .row {
  display: flex;
  flex: wrap;
  gap: 10px;
  text-align: center; 
  height: 350px;
  }
 
  .container-footer {
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  }

  footer ul.nomes {
  color:black;
  list-style: none;
  display: block;
  justify-content: center;
  align-items: center;
 }
 footer li.nome{
  width: 200px;
  color: black;
  font-weight: bold;
  text-align: justify;
  font-size: 65%;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
 }
 footer li.nome:hover{
  color: rgb(203, 87, 45);
 }
 footer div.linha-vertical {
  border-left: 3px solid rgb(203, 87, 45);
  height: 330px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 footer p{
  margin-inline: 10px; 
  text-align: justify;
  display: block;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 65%;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
 }
 footer p:hover{
  color: rgb(203, 87, 45);
 }
 
  @media screen and (max-width: 695px) {
 
  .row {
  display: flex;
  flex: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
   padding: 0;
  }
  footer h2{
  text-align: center;
  margin: auto;
  padding: 0;
  }
  ul.nomes{
  display: none;
  margin-left: -20px;
  padding: 0;
  }
  div.linha-vertical{
  display: none;
  }
}

@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .container {
    max-width:90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    box-shadow: 20px 20px 50px -30px #2c0c33;
    display: flex;
    flex-direction: column;
  }
  .itens{
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
    padding: auto;
    flex-direction: column;
  }
  .itens img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 10px;
  }
  .img{
    max-width: 100%; 
    max-height: 100%;
    border-radius: 10px;
  }
  .chato{
    width: 98px;
  }
}