.produto1 {
  border: 2px solid rgb(220, 64, 7);
  border-radius: 15px;
  margin: 10px;
  width: 20%;
  text-align: center;
}
.produto1 img {
  width: 50%;
  border-radius: 10px;
  align-items: center;
}
.produto1 button {
  background-color: rgb(220, 64, 7);
  border-radius: 15px;
  margin: 5px;
  font-size: x-large;
  color: #fff;
  padding: 0.3rem;
  border: 2px solid #2c0c33;
}
button:hover {
  background-color: #2c0c33;
}
